.container{
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(38,166,154); */
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(38,166,154);
}

.link{
    margin-left: 1rem;
    color: rgb(38,166,154);
    cursor: pointer;
}

.copyright{
    text-align: center;
    color: rgb(38,166,154);
}